name: Release Please

on:
  push:
    branches: ["main"]
    paths:
      - "**/*.rs"
      - "src/**"
      - "Cargo.toml"
      - "Cargo.lock"
      - ".github/workflows/release-please.yml"
      - "Dockerfile"
      - "Dockerfile.runtime"
      - "chart/**"
      - "deploy/**"
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Run Release Please
        uses: googleapis/release-please-action@v4
        with:
          release-type: rust
          path: "."
          target-branch: main

