name: Release Please

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Run Release Please
        uses: google-github-actions/release-please-action@v4
        with:
          release-type: rust
          package-name: rust-healthcheck
          bump-minor-pre-major: true
          changelog-types: |
            feat: Features
            fix: Bug Fixes
            perf: Performance Improvements
            refactor: Refactoring
            docs: Documentation
            chore: Chores
            ci: CI

